@import "../defaults/defaults.scss";


#XMLExport {
    padding-top: 40px;
}

.DataImportDiv {
    display:        table;
    width:          100%;
}

#DataImportHead {
    display:        table-row;
    height:         30px;
    font-weight:    bold;
}

#DataImportHead > .Counter {
    display:        table-cell;
    text-align:     right;
    padding:        2px 4px;
}

#DataImportHead > .ServiceTag {
    display:        table-cell;
    padding:        2px 8px;
    white-space:    nowrap;
}

#DataImportHead > .StationName {
    display:        table-cell;
    padding:        2px 8px;
    width:          50%;
}

#DataImportHead > .Latitude {
    display:        table-cell;
    padding:        2px 8px;
}

#DataImportHead > .Longitude {
    display:        table-cell;
    padding:        2px 8px;
}

#DataImportHead > .StationId {
    display:        table-cell;
    padding:        2px 8px;
}

#DataImportHead > .Latitude {
    display:        table-cell;
    padding:        2px 4px 2px 8px;
    font-size:      85%;
}

#DataImportHead > .Longitude {
    display:        table-cell;
    padding:        2px 8px 2px 0px;
    font-size:      85%;
    white-space:    nowrap;
}

#DataImportHead > .EVSEIds {
    display:        table-cell;
    padding:        2px 8px;
}

#DataImportHead > .EVSEIds > .EVSEId {
    display:        table-cell;
    padding:        2px 8px;
    font-size:      75%;
}

#DataImportHead > .Comment {
    display:        table-cell;
    padding:        2px 8px;
    width:          100%;
}




.DataImportRow {
    display:        table-row;
}

.DataImportRow:nth-child(even) {
    background-color: rgba(218, 218, 218, 0.8)
}
.DataImportRow:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8)
}

/*.DataImportRowProd {
    background-color: rgba(255, 216, 0, 0.42);
}*/

.DataImportRow:hover {
    background-color: rgba(136, 136, 238, 0.50);
}

.DataImportRow > .Counter {
    display:        table-cell;
    text-align:     right;
    padding:        2px 4px;
}

.DataImportRow > .ServiceTag {
    display:        table-cell;
    padding:        2px 8px;
    font-size:      85%;
    white-space:    nowrap;
}

.DataImportRow > .StationName {
    display:        table-cell;
    padding:        2px 8px;
    width:          50%;
}

.DataImportRow > .Latitude {
    display:        table-cell;
    padding:        2px 8px;
}

.DataImportRow > .Longitude {
    display:        table-cell;
    padding:        2px 8px;
}

.DataImportRow > .StationId {
    display:        table-cell;
    padding:        2px 8px;
    font-size:      85%;
}

.DataImportRow > .Latitude {
    display:        table-cell;
    padding:        2px 4px 2px 8px;
    font-size:      85%;
}

.DataImportRow > .Longitude {
    display:        table-cell;
    padding:        2px 8px 2px 0px;
    font-size:      85%;
    white-space:    nowrap;
}

.DataImportRow > .EVSEIds {
    display:        table-cell;
    padding:        2px 8px;
}

.DataImportRow > .EVSEIds > .EVSEId {
    display:        table-cell;
    padding:        2px 8px;
    font-size:      75%;
}

.DataImportRow > .Comment {
    display:        table-cell;
    padding:        2px 8px;
    width:          100%;
}


.DataImportRowOutOfService
{
    font-style:     italic;
    color:          rgb(216, 74, 74);
}


select[disabled] {
    color:          #CCCCCC;
    border-color:   #CCCCCC;
    font-style:     italic;
}

span.hidden {
    display:        none;
}




.SingleRN {
    display: table-row;
}

.SingleRN:hover {
    background-color: rgba(182, 13, 46, 0.17);
}

.SingleRNId {
    display: table-cell;
    padding: 3px 40px 3px 6px;
    border-radius: 3px 0px 0px 3px;
}

.SingleRNName {
    display: table-cell;
    padding: 3px 40px 3px 6px;
    border-radius: 0px 3px 3px 0px;
}
