body {
  background-image: url("/images/shutterstock_279232676_blue_s1.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*overflow:               hidden;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height:                 100vh;*/
}
body #header {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 80%;
}
body #header a {
  text-decoration: none;
  color: #C0C0C0;
}
body #logoFrame {
  text-align: center;
  margin-top: 5vh;
}
body #logoFrame #logo {
  color: #ececec;
  font-size: 300%;
  font-weight: bolder;
  text-shadow: 0 1px 1px rgba(0, 30, 96, 0.69), 0 1px 3px rgba(0, 0, 96, 0.69), 0 1px 30px rgba(0, 0, 96, 0.69);
}
body #logoFrame #logo img {
  width: 10%;
}
body #logoFrame #GitHub {
  color: #ececec;
  font-size: 50%;
  font-weight: bolder;
  margin-top: 5vh;
}
body #logoFrame #GitHub a {
  display: block;
  margin-top: 1vh;
}
body #logoFrame #GitHub a img {
  width: 10%;
  border: 0;
}
body #logoFrame #spacer {
  height: 70vh;
}
body #impress {
  padding: 6vh 5vw 10vh 5vw;
  color: #ececec;
}
body #impress h2 {
  padding-top: 10px;
}
body #impress a {
  color: #b5cfee;
  text-decoration: none;
}
body #areaFrame {
  padding: 1vh 2vw;
  text-align: center;
  font-size: 150%;
  font-family: "Open Sans", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body #areaFrame #headline {
  margin-bottom: 2vh;
}
body #areaFrame #areas {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
body #areaFrame #areas .area {
  padding: 1vh 2vw;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.0196078431);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 20%;
  font-size: 70%;
}
body #areaFrame2 {
  padding: 1vh 2vw;
  text-align: center;
  font-size: 150%;
  font-family: "Open Sans", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-image:   url("/images/bar.jpg");*/
}
body #areaFrame2 #headline2 {
  margin-bottom: 2vh;
}
body #areaFrame2 #areas2 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
body #areaFrame2 #areas2 .area2 {
  padding: 1vh 2vw;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.0196078431);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 20%;
  font-size: 70%;
}
body #footer {
  background-color: rgba(6, 26, 48, 0.7019607843);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 1.5vh 1vw 1.5vh 1vw;
  color: #9ca9b9;
  font-size: 80%;
}
body #footer .area {
  /*width:              40%;*/
  flex-grow: 1;
}
body #footer .area a {
  color: #9ca9b9;
  text-decoration: none;
}
body #footer .area a:hover {
  color: #c2cbd7;
}
body #footer #right {
  text-align: right;
}
